<section id="tabaco" class="tabaco js-section">
    <div class="section-decor"></div>
    <div class="container" data-aos="fade-up">
        <div class="tabaco-content">
            <div class="tabaco__title">Наш табак</div>
            <div class="tabaco__text">Классический кальян знаком даже далеким от кальянной культуры людям, он всегда в моде. Это заслуга миллионной армии олдскульных курильщиков, которые не признают никаких экспериментов в этой области. </div>
            <div class="tabaco__text">При аренде кальяна вам всегда приходит лучший из имеющихся в наличии.</div>
            <div class="tabaco-tabs">
                <div class="tabaco-tabs-head">
                    <div class="tabaco-tabs-item active js-tab" data-tab="regular">
                        Обычный
                    </div>
                    <div class="tabaco-tabs-item js-tab" data-tab="xxx">
                        XXX
                    </div>
                    <div class="tabaco-tabs-item js-tab" data-tab="premium">
                        Premium+
                    </div>
                
                </div>
                <div class="tabaco-tabs-body">
                    <div id="regular" class="tabaco-tabs-body-regular js-tab-content active">
                        <div class="tabaco-tabs-catalog">
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Al Fakher
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-1.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    700 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Afzal
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-2.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    300 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Dobaccoo
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-3.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    500 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Al Fakhamah
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-4.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    700 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Savory
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-5.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    700 руб.
                                </div>
                                
                            </div>

                        </div>
                    </div>
                    <div id="xxx" class="tabaco-tabs-body-xxx js-tab-content">
                        <div class="tabaco-tabs-catalog">
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Jibiar
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-6.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    700 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Adalya
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-7.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    300 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Serbetli
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-8.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    500 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Black Angel
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-9.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    700 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Space Smoke (non Tobacco)
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-10.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    700 руб.
                                </div>
                                
                            </div>

                        </div>
                    
                    </div>
                    <div id="premium" class="tabaco-tabs-body-premium js-tab-content">
                        <div class="tabaco-tabs-catalog">
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Darkside
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-11.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    300 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Tangiers
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-12.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    500 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Must Have
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-13.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    700 руб.
                                </div>
                                
                            </div>
                            <div class="tabaco-tabs-catalog-item">
                                <div class="tabaco-tabs-catalog-item__name">
                                    Duft
                                </div>
                                <div class="tabaco-tabs-catalog-item__img" style="background-image: url('assets/img/item-14.png');">
                                    
                                </div>
                                <div class="tabaco-tabs-catalog-item__oldprice">
                                    1 300 руб.
                                </div>
                                <div class="tabaco-tabs-catalog-item__price">
                                    700 руб.
                                </div>
                                
                            </div>

                        </div>
                    
                    </div>
                </div>

            </div>
            <div class="tabaco-decor">
            
            </div>
        </div>
    </div>
</section>