<section id="reviews" class="reviews js-section">
    <div class="section-decor-2"></div>
    <div class="reviews-content">
        <div class="reviews__title">Отзывы</div>
        <div class="reviews-slider js-reviews-slider">
            <div class="reviews-slider-item">
                <div class="reviews-slider-item__img" style="background-image: url('assets/img/reviews-1.jpg');">
                    
                </div>
                <div class="reviews-slider-item-info">
                    <div class="reviews-slider-item__date">
                        17.02.2020г.
                    </div>
                    <div class="reviews-slider-item__name">
                        Ольга Давыдова
                    </div>
                    <div class="reviews-slider-item__stars">
                        &#9733; &#9733; &#9733; &#9733; &#9733;
                    </div>
                    <div class="reviews-slider-item__text">
                        Кальянную I'm Smoking посетили впервые, но обязательно придём ещё!!! Мне понравился чудесный персонал и отличное обслуживание. Ребята услужливые, харизматичные, внимательные. Кальянщик провёл консультацию по видам табака и крепости, сделал вкусный кальян и периодически подходил к нам проверить кальян и интересовался, всё ли нравится. В заведении уютно и не дымно.
                    </div>
                    
                </div>
                
            </div>
            <div class="reviews-slider-item">
                <div class="reviews-slider-item__img" style="background-image: url('assets/img/reviews-2.jpg');">
                    
                </div>
                <div class="reviews-slider-item-info">
                    <div class="reviews-slider-item__date">
                        17.02.2020г.
                    </div>
                    <div class="reviews-slider-item__name">
                        Ольга Давыдова
                    </div>
                    <div class="reviews-slider-item__stars">
                        &#9733; &#9733; &#9733; &#9733; &#9733;
                    </div>
                    <div class="reviews-slider-item__text">
                        Я была в кальянной впервые. Мне очень понравился интерьер. Было много людей, но официанты справлялись, всё приносили быстро. Мы заказывали кальян и напитки. Вкусовые качества кальяна понравились, уголь часто подходили менять. 
                        Я с удовольствием приду еще в кальянную и посоветую своим друзьям.
                    </div>
                    
                </div>
                
            </div>
            <div class="reviews-slider-item">
                <div class="reviews-slider-item__img" style="background-image: url('assets/img/reviews-1.jpg');">
                    
                </div>
                <div class="reviews-slider-item-info">
                    <div class="reviews-slider-item__date">
                        17.02.2020г.
                    </div>
                    <div class="reviews-slider-item__name">
                        Ольга Давыдова
                    </div>
                    <div class="reviews-slider-item__stars">
                        &#9733; &#9733; &#9733; &#9733; &#9733;
                    </div>
                    <div class="reviews-slider-item__text">
                        Кальянную I'm Smoking посетили впервые, но обязательно придём ещё!!! Мне понравился чудесный персонал и отличное обслуживание. Ребята услужливые, харизматичные, внимательные. Кальянщик провёл консультацию по видам табака и крепости, сделал вкусный кальян и периодически подходил к нам проверить кальян и интересовался, всё ли нравится. В заведении уютно и не дымно.
                    </div>
                    
                </div>
                
            </div>
            <div class="reviews-slider-item">
                <div class="reviews-slider-item__img" style="background-image: url('assets/img/reviews-2.jpg');">
                    
                </div>
                <div class="reviews-slider-item-info">
                    <div class="reviews-slider-item__date">
                        17.02.2020г.
                    </div>
                    <div class="reviews-slider-item__name">
                        Ольга Давыдова
                    </div>
                    <div class="reviews-slider-item__stars">
                        &#9733; &#9733; &#9733; &#9733; &#9733;
                    </div>
                    <div class="reviews-slider-item__text">
                        Я была в кальянной впервые. Мне очень понравился интерьер. Было много людей, но официанты справлялись, всё приносили быстро. Мы заказывали кальян и напитки. Вкусовые качества кальяна понравились, уголь часто подходили менять. 
                        Я с удовольствием приду еще в кальянную и посоветую своим друзьям.
                    </div>
                    
                </div>
                
            </div>

        </div>
    </div>
</section>