@import 'parts/*.scss';
@import '../components/**/*.scss';

html, body{
    height: 100%;
}

a{
    text-decoration: none;
}

.site{
    display: flex;
    flex-direction: column;
    min-height: 100%;
    font-family: 'Montserrat', sans-serif;
    font-weight: 300;
    overflow: hidden;
    background-color: #090d16;

}

.content{
    flex: 1 0 auto;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
}

.container{
    max-width: 1700px;
    margin: 0 auto;
}

.arrows{
    position: absolute;
    display: block;
    width: 38px;
    height: 38px;
    top: calc(53% - 6px);
    z-index: 2;
    cursor: pointer;
    transition: all .3s ease;
    &:after {
        content: "";
        position: absolute;
        display: block;
        border: solid #747484;
        border-width: 0 3px 3px 0;
        padding: 4px;
        top: calc(50% - 7px);
        transition: all .3s ease;
    }
    &:hover{
        transform: scale(1.15, 1.15);
        &:after{
            border-color:#f9b232;

        }
    }
    @media screen and (max-width: 1140px){
        top: auto;
        bottom: 8px;
    }
    &.back{
        left: 115px;
        @media screen and (max-width: 1140px){
            left: 40px;
        }
        &:after {
            transform: rotate(135deg);
            right: calc(50% - 8px);
        }
        
    }
    &.next{
        right: 115px;
        @media screen and (max-width: 1140px){
            right: 40px;
        }
        &:after {
            transform: rotate(-45deg);
            right: calc(50% - 3px);
        }

    }
}

.section-decor{
    position: absolute;
    width: 100%;
    height: 1448px;
    background: url('../assets/img/tabaco.png') 50% 50% no-repeat;
    background-size: cover;
    top: 0;
    left: 0;
    @media screen and (max-width: 1140px){
        display: none;
    }
}
.section-decor-2{
    position: absolute;
    width: 100%;
    height: 1448px;
    background: url('../assets/img/tabaco.png') 50% 50% no-repeat;
    background-size: cover;
    top: 280px;
    left: 0;
    @media screen and (max-width: 1140px){
        display: none;
    }
}

//popup
.mfp-wrap {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    position: fixed;
    outline: 0;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease-out;
    &.is-visible {
        opacity: 1;
        visibility: visible;
        transition: all .1s ease;
    }
}

.mfp-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    padding: 0 8px;
    @media screen and (max-width: 1140px){
        padding: 0;
        align-items: flex-start;
        
        overflow-y: scroll;
    }
}

.mfp-content {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin: 0 auto;
    text-align: left;
    z-index: 1000;
    width: 100%;
    max-width: 814px;
    @media screen and (max-width: 640px){
        height: 100%;
    }
}

.mfp-bg {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
    overflow: hidden;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.6);
    filter: alpha(opacity=80);
    opacity: 0;
    visibility: hidden;
    &.is-visible {
        opacity: 1;
        visibility: visible;
        transition: all .1s ease;
    }
}

.lock-html {
    overflow: hidden;
}
.popup {
    position: relative;
    background-color: #090d16;
    border-radius: 0;
    @media screen and (max-width: 1140px){
        display: flex;
        border-radius: 0;
        min-height: 100%;
    }
    &-body{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        border-radius: 0;
        padding: 72px 80px 58px 105px;
        background: url(../assets/img/popup-back.png) 50% 50% no-repeat;
        background-size: cover;
        @media screen and (max-width: 840px){
            padding: 62px 15px 36px;
            width: 100%;
        }
    }
    &__close{
        position: absolute;
        width: 26px;
        height: 26px;
        top: 46px;
        right: 68px;
        cursor: pointer;
        @media screen and (max-width: 840px){
            top: 26px;
            right: 20px;
        }
        &:before{
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 2;
            width: 30px;
            border-bottom: 3px solid #737382;
            transform: rotate(-45deg);
            @media screen and (max-width: 840px){
                border-bottom: 2px solid #737382;
            }
        }
        &:after{
            content: "";
            display: block;
            position: absolute;
            top: 50%;
            left: 0;
            z-index: 2;
            width: 30px;
            border-bottom: 3px solid #737382;
            transform: rotate(45deg);
            @media screen and (max-width: 840px){
                border-bottom: 2px solid #737382;
            }
        }
    }
    &__title{
        font-size: 19px;
        color: #ffd557;
        line-height: 1;
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: 65px;
        letter-spacing: 16px;
        @media screen and (max-width: 640px){
            font-size: 17px;
            letter-spacing: 4px;
        }
    }
    &-form{
        width: 100%;
        &-row{
            display: flex;
            flex-direction: row;
            @media screen and (max-width: 840px){
                flex-direction: column;
            }
        }
        &-multi{
            display: flex;
            flex-direction: row;
        }
        &__input{
            flex: 1 1 auto;
            width: 100%;
            margin-bottom: 30px;
            &:not(:last-child){
                margin-right: 60px;
                @media screen and (max-width: 840px){
                    margin-right: 0;
                }
            }
            input{
                border: 2px solid #737382;
                border-radius: 0;
                background: transparent;
                font-family: "Montserrat";
                font-size: 16px;
                line-height: 21px;
                color: #f2bf25;
                font-weight: bold;
                margin: 0;
                -webkit-text-size-adjust: none;
                -webkit-font-smoothing: antialiased;
                -webkit-tap-highlight-color: transparent;
                padding: 20px 28px 20px;
                outline: none;
                width: 100%;
                -webkit-transition: all 0.4s ease;
                transition: all 0.4s ease;
                &::placeholder{
                    color: #f2bf25;
                    opacity: 1;
                }
                &:focus::placeholder{
                    color:transparent;
                }
            }
            textarea{
                border: 2px solid #737382;
                border-radius: 0;
                background: transparent;
                font-family: "Montserrat";
                font-size: 16px;
                line-height: 21px;
                color: #f2bf25;
                font-weight: bold;
                margin: 0;
                -webkit-text-size-adjust: none;
                -webkit-font-smoothing: antialiased;
                -webkit-tap-highlight-color: transparent;
                padding: 20px 28px 20px;
                outline: none;
                width: 100%;
                height: 120px;
                -webkit-transition: all 0.4s ease;
                transition: all 0.4s ease;
            }
        }
        &-input__text{
            font-size: 14px;
            font-weight: bold;
            color: #fff;
            line-height: 1;
            margin-bottom: 22px;
            .mod-yellow{
                color: #f9b232;
            }
        }
        &__text{
            font-size: 14px;
            color: #8f8fa1;
            line-height: 1.5;
            margin-bottom: 34px;
        }
        &-bottom{
            max-width: 240px;
            margin: 0 auto;
            &__text{
                font-size: 12px;
                color: #fff;
                font-style: italic;
                line-height: 20px;
                text-align: center;
            }
            &__btn{
                
                display: block;
                width: 100%;
                padding: 23px 10px;
                background-color: #f9b232;
                font-size: 16px;
                color: #fff;
                font-weight: bold;
                line-height: 1;
                letter-spacing: 3px;
                filter: drop-shadow(0px 0px 50px rgba(255, 202, 87, 0.5));
                margin-bottom: 24px;
                text-align: center;
                overflow: hidden;
                .hover{
                    position: absolute;
                    display: block;
                    width: 0px;
                    height: 0px;
                    top: 50%;
                    left: 50%;
                    border-radius: 50%;
                    background-color: #f4a61b;
                    transform: translate(-50%, -50%);
                    transition: width .5s ease-in-out, height .5s ease-in-out;
                    z-index: 1;
                    
                }
                .mod-text{
                    position: relative;
                    z-index: 2;
                }
                &:hover{
                    .hover{
                        width: 500px;
                        height: 500px;
                    }
                }
            }
        }
    }
    &-nav-list{
        padding: 30px 0;
        &__item{
            margin-bottom: 26px;
            text-align: center;

        }
        &__link{
            font-size: 14px;
            color: #fff;
            text-transform: uppercase;
            text-align: center;
            line-height: 1.2;
        }
    }
}

.popup-menu-mobile{
    .popup-body{
        background: none;
    }
    @media screen and (max-width: 1140px){

    }
}

.popup-gallery{
    .popup-body{
        padding: 0;
        width: 100%;
        height: 100%;
        background: none;
    }
    .mfp-content{
        height: 100%;
        max-width: none;
    }
    .popup {
        height: 100%;
        background-color: transparent;
    }
    .popup__close{
        &:after{
            transition: all .3s ease;

        }
        &:before{
            transition: all .3s ease;

        }
        &:hover{
            &:before{
                border-color: #f9b232;
            }
            &:after{
                border-color: #f9b232;
            }
        }
    }
    &-image{
        width: 100%;
        height: 100%;
        background: url(../assets/img/gallery-full-1.jpg) 50% 50% no-repeat;
        background-size: auto;
        @media screen and (max-width: 1140px){
            background-size: contain;
        }

    }
    .gallery-arrows{
        @media screen and (max-width: 1140px){
            display: block;
            height: 38px;
            width: 38px;
            top: calc(50% - 19px);
        }
        &.back{
            left: 68px;
            @media screen and (max-width: 1140px){
                left: 20px;
            }
        }
        &.next{
            right: 68px;
            @media screen and (max-width: 1140px){
                right: 20px;
            }
        }

    }
}