<section id="head" class="head js-section">
    <div class="head-content" data-aos="fade-up">
        <div class="header-burger js-burger">
            <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="28px" height="23px" viewBox="0 0 22 17">
                <path fill-rule="evenodd" fill="#8f8fa1" d="M20.500,10.000 L1.500,10.000 C0.672,10.000 -0.000,9.328 -0.000,8.500 C-0.000,7.672 0.672,7.000 1.500,7.000 L20.500,7.000 C21.328,7.000 22.000,7.672 22.000,8.500 C22.000,9.328 21.328,10.000 20.500,10.000 ZM20.500,3.000 L1.500,3.000 C0.672,3.000 -0.000,2.328 -0.000,1.500 C-0.000,0.672 0.672,-0.000 1.500,-0.000 L20.500,-0.000 C21.328,-0.000 22.000,0.672 22.000,1.500 C22.000,2.328 21.328,3.000 20.500,3.000 ZM1.500,14.000 L20.500,14.000 C21.328,14.000 22.000,14.672 22.000,15.500 C22.000,16.328 21.328,17.000 20.500,17.000 L1.500,17.000 C0.672,17.000 -0.000,16.328 -0.000,15.500 C-0.000,14.672 0.672,14.000 1.500,14.000 Z"></path>
            </svg>
        </div>
        <div class="head-slider js-head-slider">
            <div class="head-slider-item">
                <div class="head-slider-item__title">Аромат месяца</div>
                <div class="head-slider-item__subtitle">Осенний эфир</div>
                <div class="head-slider-item__text">
                    Историю эфир, действительно, имеет древнюю и славную. 
                    Ибо введён был ещё Аристотелем, как квинтэссенция, или «пятый элемент», - протоматерия, от которой происходят стихии — 
                    Земля, Вода, Воздух и Огонь. 
                </div>
                <div class="head-slider-item__date">Август <span class="mod-day">08</span> <span class="mod-mobile">/12</span></div>
            </div>
            <div class="head-slider-item">
                <div class="head-slider-item__title">Аромат месяца</div>
                <div class="head-slider-item__subtitle">Осенний эфир</div>
                <div class="head-slider-item__text">
                    Историю эфир, действительно, имеет древнюю и славную. 
                    Ибо введён был ещё Аристотелем, как квинтэссенция, или «пятый элемент», - протоматерия, от которой происходят стихии — 
                    Земля, Вода, Воздух и Огонь. 
                </div>
                <div class="head-slider-item__date">Август <span class="mod-day">08</span> <span class="mod-mobile">/12</span></div>
            </div>
        </div>
    </div>
</section>