<section id="head" class="head js-section">
    <div class="head-content" data-aos="fade-up">
        <div class="head-slider js-head-slider">
            <div class="head-slider-item">
                <div class="head-slider-item__title">Аромат месяца</div>
                <div class="head-slider-item__subtitle">Осенний эфир</div>
                <div class="head-slider-item__text">
                    Историю эфир, действительно, имеет древнюю и славную. 
                    Ибо введён был ещё Аристотелем, как квинтэссенция, или «пятый элемент», - протоматерия, от которой происходят стихии — 
                    Земля, Вода, Воздух и Огонь. 
                </div>
                <div class="head-slider-item__date">Август <span class="mod-day">08</span> <span class="mod-mobile">/12</span></div>
            </div>
            <div class="head-slider-item">
                <div class="head-slider-item__title">Аромат месяца</div>
                <div class="head-slider-item__subtitle">Осенний эфир</div>
                <div class="head-slider-item__text">
                    Историю эфир, действительно, имеет древнюю и славную. 
                    Ибо введён был ещё Аристотелем, как квинтэссенция, или «пятый элемент», - протоматерия, от которой происходят стихии — 
                    Земля, Вода, Воздух и Огонь. 
                </div>
                <div class="head-slider-item__date">Август <span class="mod-day">08</span> <span class="mod-mobile">/12</span></div>
            </div>
        </div>
    </div>
</section>