<section id="about" class="about js-section">
    <div class="container" data-aos="fade-up">
        <div class="about-content">
            <div class="about-info">
                <div class="about__title">О нас</div>
                <div class="about-icons">

                    <div class="about-icons-item">
                        <div class="about-icons-item__icon">
                            <svg class="icon-conference" enable-background="new 0 0 64 64" viewBox="0 0 64 64" xmlns="http://www.w3.org/2000/svg">
                                <path d="m25 15c0 .55273.44775 1 1 1h12c.55225 0 1-.44727 1-1 0-2.80066-1.65747-5.21588-4.03973-6.33405.63922-.70916 1.03973-1.63806 1.03973-2.66595 0-2.20605-1.79443-4-4-4s-4 1.79395-4 4c0 1.02789.40051 1.95679 1.03973 2.66595-2.38226 1.11817-4.03973 3.53339-4.03973 6.33405zm5-9c0-1.10254.89697-2 2-2s2 .89746 2 2-.89697 2-2 2-2-.89746-2-2zm2 4c2.41455 0 4.43506 1.7207 4.89941 4h-9.79883c.46436-2.2793 2.48487-4 4.89942-4z"/><path d="m41 22c0 .55273.44775 1 1 1h12c.55225 0 1-.44727 1-1 0-2.80066-1.65747-5.21588-4.03973-6.33405.63922-.70916 1.03973-1.63806 1.03973-2.66595 0-2.20605-1.79443-4-4-4s-4 1.79395-4 4c0 1.02789.40051 1.95679 1.03973 2.66595-2.38226 1.11817-4.03973 3.53339-4.03973 6.33405zm5-9c0-1.10254.89697-2 2-2s2 .89746 2 2-.89697 2-2 2-2-.89746-2-2zm2 4c2.41455 0 4.43506 1.7207 4.89941 4h-9.79883c.46436-2.2793 2.48487-4 4.89942-4z"/><path d="m48 41c-2.20557 0-4 1.79395-4 4 0 1.02789.40051 1.95679 1.03973 2.66595-2.38226 1.11817-4.03973 3.53339-4.03973 6.33405 0 .55273.44775 1 1 1h12c.55225 0 1-.44727 1-1 0-2.80066-1.65747-5.21588-4.03973-6.33405.63922-.70916 1.03973-1.63806 1.03973-2.66595 0-2.20605-1.79443-4-4-4zm-2 4c0-1.10254.89697-2 2-2s2 .89746 2 2-.89697 2-2 2-2-.89746-2-2zm6.89941 8h-9.79883c.46436-2.2793 2.48486-4 4.89941-4s4.43507 1.7207 4.89942 4z"/><path d="m25 61c0 .55273.44775 1 1 1h12c.55225 0 1-.44727 1-1 0-2.80066-1.65747-5.21588-4.03973-6.33405.63922-.70916 1.03973-1.63806 1.03973-2.66595 0-2.20605-1.79443-4-4-4s-4 1.79395-4 4c0 1.02789.40051 1.95679 1.03973 2.66595-2.38226 1.11817-4.03973 3.53339-4.03973 6.33405zm5-9c0-1.10254.89697-2 2-2s2 .89746 2 2-.89697 2-2 2-2-.89746-2-2zm2 4c2.41455 0 4.43506 1.7207 4.89941 4h-9.79883c.46436-2.2793 2.48487-4 4.89942-4z"/><path d="m57.96027 31.66595c.63922-.70916 1.03973-1.63806 1.03973-2.66595 0-2.20605-1.79443-4-4-4s-4 1.79395-4 4c0 1.02789.40051 1.95679 1.03973 2.66595-2.38226 1.11817-4.03973 3.53339-4.03973 6.33405 0 .55273.44775 1 1 1h12c.55225 0 1-.44727 1-1 0-2.80066-1.65747-5.21588-4.03973-6.33405zm-4.96027-2.66595c0-1.10254.89697-2 2-2s2 .89746 2 2-.89697 2-2 2-2-.89746-2-2zm-2.89941 8c.46436-2.2793 2.48486-4 4.89941-4s4.43506 1.7207 4.89941 4z"/><path d="m9 22c0 .55273.44775 1 1 1h12c.55225 0 1-.44727 1-1 0-2.80066-1.65747-5.21588-4.03973-6.33405.63922-.70916 1.03973-1.63806 1.03973-2.66595 0-2.20605-1.79443-4-4-4s-4 1.79395-4 4c0 1.02789.40051 1.95679 1.03973 2.66595-2.38226 1.11817-4.03973 3.53339-4.03973 6.33405zm5-9c0-1.10254.89697-2 2-2s2 .89746 2 2-.89697 2-2 2-2-.89746-2-2zm2 4c2.41455 0 4.43506 1.7207 4.89941 4h-9.79883c.46436-2.2793 2.48487-4 4.89942-4z"/><path d="m9 54c0 .55273.44775 1 1 1h12c.55225 0 1-.44727 1-1 0-2.80066-1.65747-5.21588-4.03973-6.33405.63922-.70916 1.03973-1.63806 1.03973-2.66595 0-2.20605-1.79443-4-4-4s-4 1.79395-4 4c0 1.02789.40051 1.95679 1.03973 2.66595-2.38226 1.11817-4.03973 3.53339-4.03973 6.33405zm5-9c0-1.10254.89697-2 2-2s2 .89746 2 2-.89697 2-2 2-2-.89746-2-2zm2 4c2.41455 0 4.43506 1.7207 4.89941 4h-9.79883c.46436-2.2793 2.48487-4 4.89942-4z"/><path d="m2 38c0 .55273.44775 1 1 1h12c.55225 0 1-.44727 1-1 0-2.80066-1.65747-5.21588-4.03973-6.33405.63922-.70916 1.03973-1.63806 1.03973-2.66595 0-2.20605-1.79443-4-4-4s-4 1.79395-4 4c0 1.02789.40051 1.95679 1.03973 2.66595-2.38226 1.11817-4.03973 3.53339-4.03973 6.33405zm5-9c0-1.10254.89697-2 2-2s2 .89746 2 2-.89697 2-2 2-2-.89746-2-2zm2 4c2.41455 0 4.43506 1.7207 4.89941 4h-9.79882c.46435-2.2793 2.48486-4 4.89941-4z"/><path d="m21 32c0 6.06543 4.93457 11 11 11s11-4.93457 11-11-4.93457-11-11-11-11 4.93457-11 11zm11-9c4.9624 0 9 4.03711 9 9s-4.0376 9-9 9-9-4.03711-9-9 4.0376-9 9-9z"/>
                            </svg>
                        </div>
                        <div class="about-icons-item__text">
                            столики до 8 человек
                        </div>
                    </div>

                    <div class="about-icons-item">
                        <div class="about-icons-item__icon">
                            <svg class="icon-coctail" enable-background="new 0 0 512.002 512.002" viewBox="0 0 512.002 512.002" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <g><path d="m421.65 5.915c-2.257-5.039-8.171-7.297-13.214-5.04l-85.186 38.142c-22.254 9.965-38.361 30.194-43.087 54.115l-2.223 11.251h-68.489l19.616-13.901c4.439-3.147 5.527-9.495 2.377-13.941-16.267-22.95-42.736-34.469-68.941-32.79-26.503-.109-57.257 20.79-66.164 45.961-10.928 24.436-9.069 53.87 7.497 77.252 3.146 4.441 9.493 5.529 13.94 2.378l24.692-17.495c-13.896 67.435-25.826 136.841-25.826 205.887 0 44.262 6.323 90.117 25.219 130.55 6.733 14.409 21.409 23.72 37.389 23.72h30.089c5.522 0 10-4.478 10-10s-4.478-10-10-10h-30.089c-8.246 0-15.81-4.783-19.27-12.187-2.745-5.875-6.076-13.937-9.352-24.181 10.587 7.7 24.102 13.778 40.389 13.778h119.109c16.281 0 29.816-6.117 40.424-13.85-3.283 10.278-6.623 18.365-9.374 24.254-3.46 7.403-11.023 12.187-19.27 12.187h-24.585c-5.522 0-10 4.478-10 10s4.478 10 10 10h24.585c15.979 0 30.655-9.311 37.389-23.72 21.123-45.2 26.319-96.491 24.979-145.817-1.638-54.298-11.421-116.585-19.748-161.015-.014-.074-.036-.146-.051-.219-7.553-40.215-14.467-68.884-14.544-69.203-1.087-4.486-5.103-7.646-9.719-7.646h-41.885l1.457-7.374c3.47-17.565 15.298-32.421 31.64-39.738l85.186-38.142c5.04-2.259 7.296-8.175 5.04-13.216zm-252.765 118.468h105.105l-9.662 48.909h-105.732c4.305-22.108 8.149-39.527 10.289-48.909zm5.977-20.001h-3.67l.987-40.611c13.465 1.067 26.49 6.762 36.464 16.671zm-40.876-30.12c5.664-4.012 11.806-6.862 18.141-8.606l-.833 34.274-31.018-11.993c3.678-5.162 8.254-9.809 13.71-13.675zm-18.911 72.482c-6.165-12.949-7.145-27.436-3.438-40.705l37.599 14.538c-.167.734-.345 1.519-.531 2.34zm195.052 302.668h-119.109c-27.714 0-45.844-26.858-49.771-33.261-5.792-35.032-5.351-70.598-2.505-105.891 3.164-39.239 9.029-78.255 16.083-116.968h105.552l-41.045 207.771c-1.07 5.419 2.454 10.679 7.872 11.749.655.129 1.307.191 1.949.191 4.679 0 8.858-3.3 9.8-8.063l41.811-211.648h65.569c7.093 38.923 12.985 78.154 16.135 117.608 2.801 35.08 3.201 70.422-2.556 105.243-3.998 6.502-22.145 33.269-49.785 33.269zm22.146-325.029c2.14 9.382 5.984 26.801 10.289 48.909h-57.847l9.662-48.909z"/><path d="m320.899 324.295h-28.146c-11.814 0-21.427 9.612-21.427 21.427v28.146c0 11.814 9.612 21.427 21.427 21.427h28.146c11.814 0 21.426-9.612 21.426-21.427v-28.146c-.001-11.814-9.612-21.427-21.426-21.427zm1.425 49.573c0 .787-.64 1.427-1.426 1.427h-28.146c-.787 0-1.427-.64-1.427-1.427v-28.146c0-.787.64-1.427 1.427-1.427h28.146c.786 0 1.426.64 1.426 1.427z"/><path d="m224.36 246.832-14.913-14.913c-7.477-7.474-19.642-7.477-27.12.001l-14.911 14.912c-3.622 3.622-5.617 8.438-5.617 13.561s1.995 9.938 5.616 13.56l14.913 14.913c3.738 3.738 8.649 5.607 13.56 5.607s9.822-1.869 13.561-5.607l14.912-14.913c7.475-7.478 7.475-19.643-.001-27.121zm-28.473 27.309-13.747-13.748 13.747-13.749 13.748 13.749z"/><path d="m262.826 498.172c-1.572-3.777-5.392-6.252-9.482-6.16-4.444.1-8.361 3.266-9.449 7.562-2.179 8.596 7.625 15.573 15.065 10.859 4.063-2.575 5.687-7.823 3.866-12.261z"/></g>
                                </g>
                            </svg>
                        </div>
                        <div class="about-icons-item__text">
                            соки и напитки
                        </div>
                    </div>

                    <div class="about-icons-item">
                        <div class="about-icons-item__icon">
                            <svg class="icon-sofa" enable-background="new 0 0 512 512" viewBox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                                <g>
                                    <g><path d="m471.947 176.029v-8.729c0-45.104-36.657-81.8-81.715-81.8h-268.464c-45.074 0-81.744 36.695-81.744 81.8v8.73c-22.233 4.924-40.024 25.696-40.024 48.966 0 20.435 10.777 37.218 28.601 45.339v146.165c0 5.523 4.477 10 10 10h51.476c5.523 0 10-4.477 10-10v-30.866h111.009c5.523 0 10-4.477 10-10s-4.477-10-10-10h-111.009v-27.224h311.846v27.224h-111.037c-5.523 0-10 4.477-10 10s4.477 10 10 10h111.037v30.866c0 5.523 4.477 10 10 10h51.476c5.523 0 10-4.477 10-10v-146.168c17.824-8.127 28.601-24.91 28.601-45.336 0-23.272-17.804-44.045-40.053-48.967zm-350.179-70.529h268.464c34.03 0 61.715 27.723 61.715 61.8v8.631c-22.808 4.65-40.024 24.882-40.024 49.065v50.245c-.805-.494-1.629-.976-2.479-1.443-11.495-6.303-26.652-9.901-42.679-10.131-.097-.001-.192-.001-.288 0-16.04.23-31.206 3.828-42.704 10.131-4.944 2.71-9.11 5.897-12.481 9.454-3.368-3.557-7.531-6.743-12.471-9.453-11.492-6.303-26.653-9.901-42.691-10.132-.096-.001-.191-.001-.288 0-16.027.23-31.185 3.829-42.679 10.131-4.942 2.71-9.107 5.896-12.477 9.453-3.368-3.557-7.531-6.743-12.471-9.452-11.492-6.303-26.653-9.901-42.692-10.132-.096-.001-.191-.001-.287 0-16.038.23-31.2 3.829-42.691 10.132-.846.464-1.666.945-2.468 1.436v-50.24c0-24.185-17.229-44.418-40.053-49.066v-8.63c0-34.076 27.699-61.799 61.744-61.799zm-21.691 201.995c0-15.021 23.314-23.476 45.303-23.828 21.989.352 45.303 8.807 45.303 23.828v10.916h-90.606zm201.212 10.915h-90.605v-10.916c0-14.476 23.008-23.47 45.303-23.828 21.989.352 45.302 8.807 45.302 23.828zm110.634 0h-90.634v-10.916c0-14.476 23.022-23.47 45.332-23.828 22.295.358 45.303 9.352 45.303 23.828v10.916zm-331.846 88.09h-31.476v-143.079c0-4.422-2.904-8.319-7.142-9.583-13.637-4.067-21.459-14.58-21.459-28.842 0-14.195 12.84-30.072 30.024-30.072 16.571 0 30.053 13.49 30.053 30.072zm390.459-152.66c-4.235 1.266-7.137 5.162-7.137 9.582v143.078h-31.476v-181.504c0-16.582 13.469-30.072 30.024-30.072 17.2 0 30.053 15.876 30.053 30.072 0 14.254-7.823 24.768-21.464 28.844z"/><path d="m154.876 215.13c5.523 0 10-4.477 10-10v-.057c0-5.523-4.477-9.972-10-9.972s-10 4.505-10 10.028 4.477 10.001 10 10.001z"/><path d="m205.445 215.13c5.523 0 10-4.477 10-10v-.057c0-5.523-4.477-9.972-10-9.972s-10 4.505-10 10.028 4.477 10.001 10 10.001z"/><path d="m255.986 215.13c5.523 0 10-4.477 10-10v-.057c0-5.523-4.477-9.972-10-9.972s-10 4.505-10 10.028 4.477 10.001 10 10.001z"/><path d="m306.555 215.13c5.523 0 10-4.477 10-10v-.057c0-5.523-4.477-9.972-10-9.972s-10 4.505-10 10.028 4.477 10.001 10 10.001z"/><path d="m357.096 215.13c5.523 0 10-4.477 10-10v-.057c0-5.523-4.477-9.972-10-9.972s-10 4.505-10 10.028 4.477 10.001 10 10.001z"/><path d="m129.591 159.023c5.523 0 10-4.477 10-10v-.085c0-5.523-4.477-9.958-10-9.958s-10 4.52-10 10.042 4.477 10.001 10 10.001z"/><path d="m180.161 159.023c5.523 0 10-4.477 10-10v-.085c0-5.523-4.477-9.958-10-9.958s-10 4.52-10 10.042 4.477 10.001 10 10.001z"/><path d="m230.701 159.023c5.523 0 10-4.477 10-10v-.085c0-5.523-4.477-9.958-10-9.958s-10 4.52-10 10.042 4.477 10.001 10 10.001z"/><path d="m281.271 159.023c5.523 0 10-4.477 10-10v-.085c0-5.523-4.477-9.958-10-9.958s-10 4.52-10 10.042 4.477 10.001 10 10.001z"/><path d="m331.839 159.023c5.523 0 10-4.477 10-10v-.085c0-5.523-4.477-9.958-10-9.958s-10 4.52-10 10.042 4.477 10.001 10 10.001z"/><path d="m382.38 159.023c5.523 0 10-4.477 10-10v-.085c0-5.523-4.477-9.958-10-9.958s-10 4.52-10 10.042 4.477 10.001 10 10.001z"/><path d="m255.986 365.634c-5.523 0-10 4.477-10 10s4.477 10 10 10h.057c5.523 0 9.972-4.477 9.972-10s-4.506-10-10.029-10z"/></g>
                                </g>
                            </svg>
                        </div>
                        <div class="about-icons-item__text">
                            уютные диваны и кресла
                        </div>
                    </div>
                    
                    <div class="about-icons-item">
                        <div class="about-icons-item__icon">
                            <svg class="icon-pot" x="0px" y="0px"
                                viewBox="0 0 130.9 148" style="enable-background:new 0 0 130.9 148;" xml:space="preserve">
                            <g>
                                <g>
                                    <path d="M22.8,148c-3.1,0-5.7-2.6-5.7-5.7c0-5.9-2.5-8.7-6.9-13.1l-0.1-0.1L10,129c-6.3-5.1-10-12.7-10-20.9s3.6-15.8,10-20.9
                                        l0.1-0.1l0.1-0.1c4.1-4.2,6.8-7,6.8-13.1c0-5.9-2.5-8.6-6.9-13l-0.1-0.1L10,60.7C3.6,55.6,0,48,0,39.8S3.6,24,10,18.9l0.1-0.1
                                        l0.1-0.1c4-4,6.9-6.9,6.9-13c0-3.1,2.6-5.7,5.7-5.7c3.1,0,5.7,2.6,5.7,5.7c-0.1,8.1-3.7,15.8-10,20.9l-0.1,0.1l-0.1,0.1
                                        c-4.4,4.4-6.9,7.1-6.9,13c0,5.9,2.5,8.6,6.9,13l0.1,0.1l0.1,0.1c6.3,5.1,10,12.7,10,20.9s-3.6,15.8-10,20.9l-0.1,0.1L18.2,95
                                        c-4.1,4.2-6.8,7-6.8,13.1c0,6.1,2.7,8.9,6.8,13.1l0.1,0.1l0.1,0.1c6.3,5.2,9.9,12.8,10,21C28.5,145.5,25.9,148,22.8,148z"/>
                                    <path d="M74,148c-3.1,0-5.7-2.6-5.7-5.7c0-5.9-2.5-8.7-6.9-13.1l-0.1-0.1l-0.1-0.1c-6.3-5.1-10-12.7-10-20.9s3.6-15.8,10-20.9
                                        l0.1-0.1l0.1-0.1c4.1-4.2,6.8-7,6.8-13.1c0-5.9-2.5-8.6-6.9-13l-0.1-0.1l-0.1-0.1c-6.3-5.1-10-12.7-10-20.9
                                        c0-8.2,3.6-15.8,10-20.9l0.1-0.1l0.1-0.1c4-4,6.9-6.9,6.9-13C68.3,2.6,70.8,0,74,0s5.7,2.6,5.7,5.7c-0.1,8.1-3.7,15.8-10,20.9
                                        l-0.1,0.1l-0.1,0.1c-4.4,4.4-6.9,7.1-6.9,13c0,5.9,2.5,8.6,6.9,13l0.1,0.1l0.1,0.1c6.3,5.1,10,12.7,10,20.9
                                        c0,8.2-3.6,15.8-10,20.9l-0.1,0.1L69.4,95c-4.1,4.2-6.8,7-6.8,13.1c0,6.1,2.7,8.9,6.8,13.1l0.1,0.1l0.1,0.1
                                        c6.3,5.2,9.9,12.8,10,21C79.7,145.5,77.1,148,74,148z"/>
                                    <path d="M125.2,148c-3.1,0-5.7-2.6-5.7-5.7c0-5.9-2.5-8.7-6.9-13.1l-0.1-0.1l-0.1-0.1c-6.3-5.1-10-12.7-10-20.9s3.6-15.8,10-20.9
                                        l0.1-0.1l0.1-0.1c4.1-4.2,6.8-7,6.8-13.1c0-5.9-2.5-8.6-6.9-13l-0.1-0.1l-0.1-0.1c-6.3-5.1-10-12.7-10-20.9s3.6-15.8,10-20.9
                                        l0.1-0.1l0.1-0.1c4-4,6.9-6.9,6.9-13c0-3.1,2.6-5.7,5.7-5.7s5.7,2.6,5.7,5.7c-0.1,8.1-3.7,15.8-10,20.9l-0.1,0.1l-0.1,0.1
                                        c-4.4,4.4-6.9,7.1-6.9,13c0,5.9,2.5,8.6,6.9,13l0.1,0.1l0.1,0.1c6.3,5.1,10,12.7,10,20.9c0,8.2-3.6,15.8-10,20.9l-0.1,0.1
                                        l-0.1,0.1c-4.1,4.2-6.8,7-6.8,13.1c0,6.1,2.7,8.9,6.8,13.1l0.1,0.1l0.1,0.1c6.3,5.2,9.9,12.8,10,21
                                        C130.9,145.5,128.3,148,125.2,148z"/>
                                </g>
                            </g>
                            </svg>
                        </div>
                        <div class="about-icons-item__text">
                            паровые коктейли
                        </div>
                    </div>
                    
                    <div class="about-icons-item">
                        <div class="about-icons-item__icon">
                            <svg class="icon-wifi" x="0px" y="0px"
                                viewBox="0 0 512.001 512.001" style="enable-background:new 0 0 512.001 512.001;" xml:space="preserve">
                            <g>
                                <g>
                                    <circle cx="255.001" cy="433.5" r="33"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M506.632,154.864C440.902,84.341,351.895,45.501,255.997,45.5C160.107,45.501,71.1,84.341,5.369,154.864
                                        c-7.53,8.08-7.085,20.736,0.995,28.267c8.081,7.53,20.736,7.086,28.267-0.995C92.711,119.82,171.327,85.501,256.004,85.5
                                        c84.67,0.001,163.286,34.32,221.366,96.636c3.939,4.226,9.28,6.364,14.635,6.364c4.883,0,9.778-1.778,13.632-5.369
                                        C513.717,175.599,514.163,162.944,506.632,154.864z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M433.194,237.458c-48.587-48.954-111.516-75.913-177.196-75.911c-65.695,0.001-128.625,26.961-177.197,75.913
                                        c-7.78,7.841-7.731,20.504,0.11,28.284c7.841,7.78,20.504,7.731,28.284-0.11c41.005-41.326,93.851-64.086,148.803-64.087
                                        c54.938-0.002,107.784,22.759,148.804,64.089c3.91,3.939,9.052,5.911,14.196,5.911c5.092,0,10.188-1.934,14.09-5.805
                                        C440.927,257.961,440.975,245.298,433.194,237.458z"/>
                                </g>
                            </g>
                            <g>
                                <g>
                                    <path d="M353.151,320.292c-26.02-25.779-63.317-41.792-97.339-41.792c-0.004,0-0.011,0-0.015,0h-1.441c-0.006,0-0.009,0-0.015,0
                                        c-34.023,0-71.323,16.014-97.342,41.792c-7.846,7.774-7.905,20.437-0.131,28.284c3.911,3.947,9.059,5.924,14.208,5.924
                                        c5.087,0,10.176-1.929,14.075-5.792c18.523-18.352,45.68-30.208,69.192-30.208c0.003,0,0.007,0,0.01,0h1.447
                                        c0.004,0,0.005,0,0.009,0c23.509,0,50.668,11.857,69.189,30.208c7.846,7.773,20.511,7.717,28.284-0.132
                                        C361.057,340.73,360.998,328.066,353.151,320.292z"/>
                                </g>
                            </g>
                            </svg>
                        </div>
                        <div class="about-icons-item__text">
                            бесплатный wi-fi
                        </div>
                    </div>

                    
                    <div class="about-icons-item">
                        <div class="about-icons-item__extra">
                            18+
                        </div>
                    </div>

                </div>
                <div class="about-info__text">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
            </div>
            <div class="about-slider">
                <div class="about-slider-wrap js-about-slider">
                    <div class="about-slider-item">

                    </div>
                    <div class="about-slider-item">
                        
                    </div>
                
                </div>
            </div>
        </div>
    </div>
</section>