<div class="header float">
    <div class="header-body">
        <div class="container">
            <div class="header-body-content">
                <div class="header-logo">
                    <a href="index.html">
                        <img src="assets/img/logo-2.svg" alt="Santai Shisha logo">
                    </a>
                </div>
                <div class="header-top">
                    <div class="header-contacts">
                        <div class="header-contacts-instagram">
                            <a href="/" class="header-contacts-instagram__link">santaishisha.bali</a>
                        </div>
                        <div class="header-contacts-phone">
                            <a href="tel:+6281313607000" class="header-contacts-phone__link">+6281313607000</a>
                        </div>
                        <div class="header-contacts-social">
                            <div class="header-contacts-whatsapp">
                                <a href="/" class="header-contacts-whatsapp__link"></a>
                            </div>
                            <div class="header-contacts-telegram">
                                <a href="/" class="header-contacts-telegram__link"></a>
                            </div>
                        
                        </div>
                    </div>
                </div>
                <div class="header-bottom">
                    <nav class="header-nav">
                        <ul class="header-nav-list">
                            <li class="header-nav-list__item">
                                <a href="#head" class="header-nav-list__link active js-link">
                                    Аромат месяца
                                </a>
                            </li>
                            <li class="header-nav-list__item">
                                <a href="#about" class="header-nav-list__link js-link">
                                    О заведении
                                </a>
                            </li>
                            <li class="header-nav-list__item">
                                <a href="#tabaco" class="header-nav-list__link js-link">
                                    Наш табак
                                </a>
                            </li>
                            <li class="header-nav-list__item">
                                <a href="#gallery" class="header-nav-list__link js-link">
                                    Галерея
                                </a>
                            </li>
                            <li class="header-nav-list__item">
                                <a href="#reviews" class="header-nav-list__link js-link">
                                    Отзывы
                                </a>
                            </li>
                            <li class="header-nav-list__item">
                                <a href="#contacts" class="header-nav-list__link js-link">
                                    Контакты
                                </a>
                            </li>
                            <li class="header-nav-list__item">
                                <a href="/" class="header-nav-list__link">
                                    Стать партнером
                                </a>
                            </li>
                        </ul>
                    </nav>
                    <div class="header-btn js-question">
                        Арендовать кальян
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>