.header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
    @media screen and (max-width: 1140px){
        position: relative;
    }
    &-body{
        &-content{
            position: relative;
            @media screen and (max-width: 1140px){
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }
        }
    }
    &-logo{
        position: absolute;
        top: 63px;
        left: 20px;
        width: 98px;
        height: 152px;
        z-index: 1;
        @media screen and (max-width: 1400px){
            width: 72px;
            height: 134px;
        }
        @media screen and (max-width: 1140px){
            width: 120px;
            height: auto;
            top: 26px;
            left: calc(50% - 60px);
        }
        a{
            display: block;
        }
        img{
            width: 100%;
            height: 100%;
        }
    }
    &-top{
        width: 100%;
        padding: 46px 20px 20px 20px;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        @media screen and (max-width: 1140px){
            flex-direction: column;
            padding: 30px 20px 14px;
        }
    }
    &-bottom{
        position: relative;
        width: 100%;
        padding: 26px 20px 20px 172px;
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 1400px){
            padding: 22px 20px 20px 132px;
        }
        @media screen and (max-width: 1140px){
            padding: 8px 20px 60px;
            flex-direction: column;
            align-items: center;
        }
        &-arrow{
            display: none;
            @media screen and (max-width: 1140px){
                position: absolute;
                display: block;
                width: 14px;
                height: 14px;
                transform: rotate(45deg);
                border-bottom: 1px solid #737382;
                border-right: 1px solid #737382;
                bottom: 24px;
            }

        }

    }
    &-lang{
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        @media screen and (max-width: 1140px){
            margin: 0 0 185px auto;
        }
        &-wrap{
            display: flex;
            align-items: center;
            padding: 0 23px;
            border-right: 1px solid #737382;
        }
        &__item{
            display: block;
            font-size: 14px;
            line-height: 1.5;
            color: #737382;
            cursor: pointer;
            transition: all .3s ease;
            &:hover{
                color: #f9b232;
            }
            &:not(:last-child){
                margin-right: 25px;
            }
            &.active{
                color: #f9b232;
            }
        }
    }
    &-contacts{
        position: absolute;
        right: 20px;
        top: 44px;
        display: flex;
        flex-direction: row;
        @media screen and (max-width: 1140px){
            position: relative;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            flex-direction: column;
            align-items: center;
        }
        &-social{
            display: flex;
            margin-left: 23px;
            
            @media screen and (max-width: 1140px){
                order: 3;
                margin-left: 0;
            }
        }
        &-instagram{
            padding: 0 23px;
            margin-right: 23px;
            border-right: 1px solid #737382;
            @media screen and (max-width: 1140px){
                order: 2;
                margin-right: 0;
                border: 0;
                margin-bottom: 8px;
            }
            &__link{
                font-size: 14px;
                color: #737382;
                line-height: 24px;
                transition: all .3s ease;
                @media screen and (max-width: 1140px){
                    font-size: 16px;
                    line-height: 1;
                }
                &:hover{
                    color: #f9b232;
                }

            }
        }
        &-phone{
            @media screen and (max-width: 1140px){
                margin-bottom: 4px;
            }
            &__link{
                font-size: 24px;
                font-weight: 400;
                color: #8f8fa1;
                text-transform: uppercase;
                line-height: 1;
                transition: all .3s ease;
                &:hover{
                    color: #f9b232;
                }
                @media screen and (max-width: 1140px){
                    font-size: 20px;
                }
            }

        }
        &-telegram{
            margin-left: 23px;
            &__link{
                position: relative;
                top: 2px;
                display: block;
                background: url('../assets/img/telegram.svg') 50% 50% no-repeat;
                width: 22px;
                height: 22px;
                margin: 0;
                @media screen and (max-width: 1140px){
                    width: 22px;
                    height: 22px;
                }
            }

        }
        &-whatsapp{
            &__link{
                position: relative;
                top: 2px;
                display: block;
                background: url('../assets/img/whatsapp.svg') 50% 50% no-repeat;
                width: 22px;
                height: 22px;
                margin: 0;
                @media screen and (max-width: 1140px){
                    width: 22px;
                    height: 22px;
                }
                
            }

        }
    }
    &-nav{
        flex: 1 1 auto;
        display: flex;
        flex-direction: row;
        width: 100%;
        @media screen and (max-width: 1140px){
            display: none;
        }
        &-list{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            width: 100%;
            &__item{
                padding: 16px 0;
                margin-right: 30px;
                cursor: pointer;
                @media screen and (max-width: 1400px){
                    margin-right: 20px;
                    padding: 18px 0;
                }
                &:hover{
                    .header-nav-list__link{
                        color: #f9b232;
                    }

                }
            }
            &__link{
                font-size: 14px;
                color: #fff;
                text-transform: uppercase;
                line-height: 1.5;
                border-bottom: 1px solid transparent;
                padding: 6px 0;
                transition: all .2s ease;
                @media screen and (max-width: 1400px){
                    font-size: 12px;
                }
                &.active{
                    color: #f9b232;
                    border-color: #f9b232;

                }
            }
        }
    }
    &-btn{
        position: relative;
        flex: 0 0 auto;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 230px;
        margin-left: 54px;
        font-size: 14px;
        text-transform: uppercase;
        line-height: 1.5;
        border: 2px solid #f9b232;
        max-height: 69px;
        overflow: hidden;
        cursor: pointer;
        &__text{
            position: relative; 
            color: #f9b232;
            z-index: 2;
            transition: all .3s ease-in-out;;
        }
        .hover{
            position: absolute;
            display: block;
            width: 0px;
            height: 0px;
            top: 50%;
            left: 50%;
            border-radius: 50%;
            background-color: #f9b232;
            transform: translate(-50%, -50%);
            transition: width .5s ease-in-out, height .5s ease-in-out;
            z-index: 1;
            
        }
        &:hover{
            .header-btn__text{
                color: #fff;
            }
            .hover{
                width: 500px;
                height: 500px;
            }
        }
        @media screen and (max-width: 1400px){
            width: 180px;
            font-size: 12px;
            margin-left: 34px;
            max-height: 69px;
        }
        @media screen and (max-width: 1140px){
            width: 210px;
            margin-left: 0;
            padding: 16px 10px;
        }
        &.active{
            @media screen and (max-width: 1140px){
                position: fixed;
                top: 20px;
                right: 20px;
                
                padding: 9px 12px;
                font-size: 10px;
                width: 160px;
                border-width: 1px;
            }
        }

    }
    &.float{
        position: fixed;
        top: -300px;
        left: 0;
        background-color: #090d16;
        z-index: 100;
        transition: top .3s ease;
        @media screen and (max-width: 1140px){
            display: none;
        }
        &.active{
            position: fixed;
            top: 0;

        }
        .header-contacts {
            top: 16px;
        }
        .header-top{
            padding-top: 18px;
        }
        .header-bottom {
            padding-bottom: 12px;
            @media screen and (max-width: 1400px){
                padding-bottom: 12px;
            }
        }
        .header-logo {
            top: 13px;
            left: 20px;
            width: 100px;
            height: 100px;
        }
        &:after{
            content: "";
            position: absolute;
            width: 100%;
            height: 24px;
            left: 0;
            top: calc(100% - 6px);
            background-image: -moz-linear-gradient( 0deg, rgba(9,13,22,0) 0%, rgba(9,13,22,0.48) 40%, rgb(9,13,22) 85%);
            background-image: -webkit-linear-gradient( 0deg, rgba(9,13,22,0) 0%, rgba(9,13,22,0.48) 40%, rgb(9,13,22) 85%);
            background-image: -ms-linear-gradient( 0deg, rgba(9,13,22,0) 0%, rgba(9,13,22,0.48) 40%, rgb(9,13,22) 85%);
            background-image: linear-gradient( 0deg, rgba(9,13,22,0) 0%, rgba(9,13,22,0.48) 40%, rgb(9,13,22) 85%);
        }
    }
    &-burger{
        display: none;
        position: absolute;
        top: 26px;
        left: 20px;
        z-index: 1;
        @media screen and (max-width: 1140px){
            display: block;
        }
        &.active{
            width: 100%;
        }
        
    }
    &-mobile{
        display: none;
        width: 100%;
        position: fixed;
        top: -300px;
        left: 0;
        transition: all .6s ease;
        height: 63px;
        background-color: #090d16;
        z-index: 20;
        @media screen and (max-width: 1140px){
            display: block;
        }
        &.active{
            transition: all .4s ease;
            top: 0px;
        }
    }
}