<section id="gallery" class="gallery js-section">
    <div class="gallery-content" data-aos="fade-up">
        <div class="gallery__title">Галерея</div>
        <div class="gallery-arrows back mod-mobile js-gallery-back-mobile"></div>
        <div class="gallery-layout">
            <div class="gallery-arrows back js-gallery-back"></div>
            <div class="gallery-wrap" style="transform: translateX(0px);">
                <div class="gallery-layout-col">
                    <div class="gallery-layout-item js-gallery-item" style="background-image: url('assets/img/gallery-1.jpg');" data-full="assets/img/gallery-full-1.jpg"></div>
                </div>
                <div class="gallery-layout-col mod-wide">
                    <div class="gallery-layout-row">
                        <div class="gallery-layout-item js-gallery-item" style="background-image: url('assets/img/gallery-2.jpg');" data-full="assets/img/gallery-full-2.jpg"></div>
                        <div class="gallery-layout-item mod-wide js-gallery-item" style="background-image: url('assets/img/gallery-3.jpg');" data-full="assets/img/gallery-full-3.jpg"></div>
                        
                    </div>
                    <div class="gallery-layout-row">
                        <div class="gallery-layout-item mod-wide js-gallery-item" style="background-image: url('assets/img/gallery-4.jpg');" data-full="assets/img/gallery-full-4.jpg"></div>
                        <div class="gallery-layout-item js-gallery-item" style="background-image: url('assets/img/gallery-5.jpg');" data-full="assets/img/gallery-full-5.jpg"></div>
                        
                    </div>
                    
                </div>
                <div class="gallery-layout-col">
                        <div class="gallery-layout-item js-gallery-item" style="background-image: url('assets/img/gallery-6.jpg');" data-full="assets/img/gallery-full-6.jpg"></div>
                        <div class="gallery-layout-item js-gallery-item" style="background-image: url('assets/img/gallery-7.jpg');" data-full="assets/img/gallery-full-7.jpg"></div>
                </div>
                <div class="gallery-layout-col">
                    <div class="gallery-layout-item js-gallery-item" style="background-image: url('assets/img/gallery-8.jpg');" data-full="assets/img/gallery-full-8.jpg"></div>
                </div>
                <div class="gallery-layout-col mod-wide">
                    <div class="gallery-layout-row">
                        <div class="gallery-layout-item js-gallery-item" style="background-image: url('assets/img/gallery-5.jpg');" data-full="assets/img/gallery-full-5.jpg"></div>
                        <div class="gallery-layout-item mod-wide js-gallery-item" style="background-image: url('assets/img/gallery-4.jpg');" data-full="assets/img/gallery-full-4.jpg"></div>
                        
                    </div>
                    <div class="gallery-layout-row">
                        <div class="gallery-layout-item mod-wide js-gallery-item" style="background-image: url('assets/img/gallery-3.jpg');" data-full="assets/img/gallery-full-3.jpg"></div>
                        <div class="gallery-layout-item js-gallery-item" style="background-image: url('assets/img/gallery-2.jpg');" data-full="assets/img/gallery-full-2.jpg"></div>
                        
                    </div>
                </div>
            </div>
            
            <div class="gallery-arrows next js-gallery-forward"></div>
        </div>
        <div class="gallery-arrows next mod-mobile js-gallery-forward-mobile"></div>
    </div>
</section>