<section id="contacts" class="question js-section">
    <div class="question-body" data-aos="fade-up">
        <div class="question-content">
            <div class="question__title">Задать </br> вопрос</div>
            <form action="" class="question-form">
                <div class="question-form-row">
                    <label class="question-form__input">
                        <p class="question-form-input__text">Представьтесь</p>
                        <input type="text" name="name" autocomplete="off" placeholder="Гость">
                    </label>
                    <label class="question-form__input">
                        <p class="question-form-input__text"><span class="mod-yellow">*</span> Ваш телефон</p>
                        <input type="text" name="phone" autocomplete="off" placeholder="+66 ( ) - -">
                    </label>
                </div>
                <div class="question-form-multi">
                    <label class="question-form__input">
                        <p class="question-form-input__text">Ваш вопрос</p>
                        <textarea type="text" name="name" autocomplete="off" placeholder="Введите Ваш вопрос..."></textarea>
                    </label>
                </div>
                <div class="question-form-bottom">
                    
                    <div class="question-form-bottom__text">
                        Нажимая кнопку отправить Вы даете согласие на обработку персональных данных
                    </div>
                    <a href="/" class="question-form-bottom__btn js-btn-hover">
                        <span class="hover"></span>
                        <span class="mod-text">Отправить</span>
                    </a>
                </div>
            </form>
            <div class="question__decor">
            
            </div>
        </div>
    
    </div>
</section>